<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Powitanie</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      text-align: center;
    }
    h1 {
      color: #333;
      margin-top: 50px;
    }
    p {
      color: #666;
      margin-bottom: 30px;
    }
    .decorative {
      font-size: 24px;
      color: #999;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h1>Cześć! Witaj na mojej stronie!</h1>
  <p>Dziękuję, że tu zajrzałeś.</p>
  <div class="decorative">
    <p>🌟✨🎉</p>
    <p>Życzę Ci miłego dnia! 😊</p>
    <p>🎉✨🌟</p>
    <p>Pamiętaj nie jest to jeszcze REST API !!!</p>
        <pre>
  _____ _        _    ____ ___ 
 |_   _| |_  ___| | _| __ )_ _|
   | | | ' \/ __| |/ /  _ \| | 
   | | | |>  <  |   <| |_) | | 
   |_| |_/_/\_\_|_|\_\____/___|
    </pre>
  </div>
</body>
</html>
