/* h3, h4 {
    color: blue;
    background-color: yellow;
    font-size: 48px;
    border-top: 10px solid blueviolet;
    border-bottom: 10px dotted aqua;
    border-left: 10px solid aqua;
    border-right: 10px solid aqua;
} */

#książka1 {
    color: rgb(189, 52, 189);
}


/* klasy w css */
.yellow-font-color {
    color: yellow;
}
/* Do danego elementu może być przydzielona nieograniczona ilość klas */
.green-background-color {
    background-color: green;
}

.black-solid-border{
    border: 1px solid black
}


/* selektory atrybutów */
li[przykład="przykład1"] {
    color:red
}

li[przykład="przykład2"] {
    color:aqua
}
